<md-card style="background: #00C0D9">
    <md-card-header>
        <div class="header-placer">
            <md-card-title class="home-title">AW</md-card-title>
            <md-card-subtitle class="home-subtitle">The best place to find the best </md-card-subtitle>
        </div>
    </md-card-header>
    <img md-card-image src="">
    <md-card-content>
        
    </md-card-content>
    <md-card-actions align="start|end">
        <button color="primary" md-button >Sign Up</button>
        
    </md-card-actions>
    <md-card-footer>
        Footer
    </md-card-footer>
</md-card>
