<div *ngIf="listing"> 

    <a [routerLink]="['/listings']"> Go Back </a>
    <md-card>
        <md-card-header>
            <md-card-title>{{listing.title}}</md-card-title>
            <md-card-subtitle>{{listing.subtitle}}</md-card-subtitle>
        </md-card-header>
        <img md-card-image class="thumbnail" src="{{imageUrl}}">
        <md-card-content>
            Owner: {{listing.owner}}
            City: {{listing.city}}
        </md-card-content>
        <md-card-actions align="start|end">
            <button md-button (click)="onAction2" [routerLink]="['/edit-listing/'+listing.$key]">Edit</button>
            <button color="warning" md-button (click)="onDeleteClick()">Delete</button>
            
        </md-card-actions>
        <md-card-footer>
            Footer
        </md-card-footer>
    </md-card>
</div>